<div *ngIf="deviceType == 'Mobile'">
  Your device is a mobile
</div>
<div *ngIf="deviceType == 'BigMobile'">
  Your device is a big mobile
</div>
<div *ngIf="deviceType == 'TabletPortrait'">
  Your device is a tablet portrait oriented
</div>
<div *ngIf="deviceType == 'TabletLandscape'">
  Your device is a tablet landscape oriented
</div>
<div *ngIf="deviceType == 'Laptop'">
  Your device is a laptop
</div>
<div *ngIf="deviceType == 'Desktop'">
  Your device is a desktop
</div>
<div *ngIf="deviceType == undefined">
  Your device was not found
</div>
Device: {{ deviceType }}

